.TrackHeader {
  margin-bottom: 48px;
  background-color: hsla(0, 0%, 93.3%, 0.6);
}

.TrackHeader-row {
  display: flex;
  align-items: center;
  padding: 30px 0;
}

.TrackHeader-artwork {
  flex-shrink: 0;
  height: 250px;
  width: 250px;
}

.TrackHeader-details {
  padding: 0 24px;
}
