.playlist-card {

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.playlist-card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: rgba(255, 255, 255, 0.8);

  background: hsla(0, 0%, 6.7%, .8);
}