.PlaylistHeader {
  padding: 24px 0;
  margin-bottom: 48px;
  background-color: hsla(0, 0%, 93.3%, 0.6);
}

.PlaylistHeader-row {
  display: flex;
  align-items: center;
}

.PlaylistHeader-details {
  padding: 0 24px;
}
