.PlayerQueue {
  position: fixed;
  right: 24px;
  bottom: 80px;
}

.PlayerQueue-inner {
  width: 400px;
  height: calc(100vh - 88px - 88px - 48px - 64px - 48px);
  max-height: 620px;
  overflow-y: auto;
}
